@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    font-synthesis: style;
    text-rendering: optimizeLegibility;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 214 95% 93%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 224 82% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 1.2rem;

    --container-height: calc(100vh - 4rem - 1px);
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 224 82% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 216 34% 17%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --container-height: calc(100vh - 4rem - 1px);
  }

  .grecaptcha-badge,
  .grecaptcha-logo,
  iframe[title="reCAPTCHA"] {
    display: none !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  body {
    background:
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 1) 300px
      ),
      fixed 0 0 / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
      fixed 10px 10px / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
  }

  .dark body {
    background:
      linear-gradient(to bottom, rgba(3, 6, 17, 0.5) 0%, hsl(224 71% 4%) 500px),
      fixed 0 0 / 20px 20px radial-gradient(#313131 1px, transparent 0),
      fixed 10px 10px / 20px 20px radial-gradient(#313131 1px, transparent 0);
  }

  .silhouette {
    -webkit-filter: contrast(0) sepia(100%) saturate(2000%) brightness(100%);
    filter: contrast(0) sepia(100%) saturate(2000%) brightness(100%);
    opacity: 1;
  }
}
